* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Graphik LCG", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  color: #000;
}

body {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1290px;
  margin: auto;
}

header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: solid 1px #cccccc;
}
header nav a {
  color: #000;
  text-decoration: none;
}
header .btn .primary {
  width: 120px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5019607843);
  font-size: 16px;
  line-height: 2.8;
  font-weight: 600;
}
header .btn .secondary {
  width: 120px;
  height: 45px;
  background-color: #ff6336;
  border: 1px solid #ff6336;
  color: #ffffff;
  font-size: 16px;
  line-height: 2.8;
  font-weight: 600;
}
header img {
  vertical-align: middle;
}

.flex {
  display: flex;
}

.gap-50 {
  gap: 50px;
}

.gap-57 {
  gap: 57px;
}

.gap-45 {
  gap: 45px;
}

.gap-10 {
  gap: 10px;
}

.gap-30 {
  gap: 30px;
}

.column {
  flex-direction: column;
}

.no-decoration {
  text-decoration: none;
}

.items-center {
  align-items: center;
}

.fz-15 {
  font-size: 15px;
  line-height: 1.66;
}

.fz-50 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
}

.fw-600 {
  font-weight: 600;
}

.space-between {
  justify-content: space-between;
}

.mt-50 {
  margin-top: 50px;
}

.mt-25 {
  margin-top: 25px;
}

.fz-65 {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.07;
}

.fz-25 {
  font-size: 25px;
  line-height: 1.4;
}

.offer {
  padding-top: 130px;
  padding-bottom: 170px;
}
.offer p {
  max-width: 471px;
}
.offer .btn .primary {
  width: 160px;
  height: 60px;
  background-color: #ff6336;
  border: 1px solid #ff6336;
  color: #ffffff;
  font-size: 16px;
  line-height: 3.75;
  font-weight: 600;
}
.offer .btn .secondary {
  width: 160px;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5019607843);
  font-size: 16px;
  line-height: 3.75;
  font-weight: 600;
}
.offer img {
  max-width: 100%;
  height: auto;
}

.partners {
  background-color: #ff9c7d;
  padding-top: 108px;
  padding-bottom: 104px;
}
.partners h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
  max-width: 720px;
  text-align: center;
  margin: auto;
}
.partners__icons {
  display: flex;
  gap: 103px;
  margin-top: 70px;
  align-items: center;
}
.partners__icons img {
  max-width: 100%;
  height: auto;
}

.description {
  padding-top: 90px;
  padding-bottom: 150px;
}
.description .card:nth-child(even) {
  flex-direction: row-reverse;
}
.description .square {
  width: 632px;
  height: 577px;
  background-color: #fff8e4;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.description .square p {
  margin-left: 133px;
  margin-top: 10px;
}
.description .square .white-bg {
  width: 500px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin-top: 119px;
  margin-left: 66px;
  padding: 36px 63px 37px 37px;
}
.description h2 {
  max-width: 493px;
}
.description img {
  max-width: 100%;
  height: auto;
}

.text-black {
  color: #000;
}

.gap-165 {
  gap: 165px;
}

.gap-250 {
  gap: 250px;
}

.mr-138 {
  margin-right: 138px;
}

.mw-490 {
  max-width: 490px;
}

.mw-450 {
  max-width: 450px;
}

.mw-520 {
  max-width: 520px;
}

.row-reverse {
  flex-direction: row-reverse;
}