* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  color: #1d2f38;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: auto;
}

.logo-header {
  margin-top: 15px;
  margin-bottom: 15px;
}

header {
  box-shadow: 0px 1px 8px 0px rgba(83, 109, 122, 0.29);
  width: 100%;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.margin-left {
  margin-left: auto;
}

.gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
}

.header-box ul {
  list-style: none;
}

.header-box {
  align-items: center;
  font-size: 14px;
}

.header-box li {
  display: flex;
  align-items: center;
}

.header-box a {
  text-decoration: none;
  color: #1d2f38;
}

.gap-10 {
  gap: 10px;
}

.gap-12 {
  gap: 12px;
}

.gap-6 {
  gap: 6px;
}

.gap-3 {
  gap: 3px;
}

.flex-end {
  justify-content: flex-end;
}

.description {
  background-color: #e3ebf1;
  padding: 50px;
  margin-top: 60px;
  border-radius: 10px;
}

.bitter {
  font-family: "Bitter", sans-serif;
  font-weight: 400;
}

.green {
  color: #10843f;
}

.template h1 {
  font-size: 47px;
}

.black {
  color: #333333;
}

.fw-700 {
  font-weight: 700;
}

.description img {
  margin-right: 50px;
}

.description p {
  margin-top: 22px;
  margin-bottom: 25px;
}

.description button {
  width: 161px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #17a550;
  border-style: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
}

.blog {
  margin-top: 77px;
  padding-bottom: 55px;
}

.blog h2 {
  font-size: 38px;
  margin-bottom: 33px;
}

.blog h3 {
  font-size: 30px;
}

.blog a {
  text-decoration: none;
  color: #1d2f38;
}

.blog p {
  font-size: 15px;
  width: 546px;
  margin-top: 13px;
}

.cards-blog {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards-blog img {
  width: 100%;
  max-width: 245px;
  max-height: 150px;
}

.grassimg {
  width: 100%;
  max-width: 555px;
  max-height: 400px;
}

.cards-blog p {
  margin-left: 15px;
  width: 256px;
}

.card-blog {
  display: flex;
  align-items: center;
}

.blog-articles {
  font-size: 16px;
  gap: 4px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.blog-articles a {
  text-decoration: none;
  color: #1d2f38;
}

.view-list {
  background-image: url(../img/list_background.png);
  height: 112px;
  font-size: 28px;
  justify-content: space-between;
  margin-bottom: 97px;
}

.view-list img {
  margin-left: 30px;
}

.items-center {
  align-items: center;
}

.view-list button {
  width: 111px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #17a550;
  border-style: none;
  margin-right: 40px;
  color: #ffffff;
  font-size: 15px;
}

.product-reviews h2 {
  font-size: 38px;
  margin-bottom: 33px;
}

.product-card {
  position: relative;
  max-width: 357px;
  font-size: 15px;
}

.product-card img {
  width: 100%;
  max-width: 357px;
  max-height: 200px;
}

.frame {
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 3px;
  width: 57px;
  height: 30px;
  background: rgba(29, 47, 56, 0.8);
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-description h3 {
  font-size: 30px;
  margin-top: 24px;
  margin-bottom: 13px;
}

.product-description p {
  max-width: 300px;
  margin-bottom: 39px;
}

.product-description-background {
  background-color: #f8f9fb;
}

.ml-25 {
  margin-left: 25px;
}

.product-cards {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}

.product-card a {
  text-decoration: none;
  color: #1d2f38;
}

.newsletter {
  background-image: url(/img/newsletter_background.png);
  margin-bottom: 100px;
}

.mn-50 {
  margin: 50px;
}

.mail-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  margin-top: 58px;
  margin-bottom: 31px;
}

.email-input {
  margin-top: 24px;
  margin-bottom: 31px;
  border-radius: 5px;
  border: 1px solid #aabcc5;
  background: #fff;
  width: 500px;
  height: 50px;
  text-indent: 16px;
}

.mail-btn {
  border-radius: 5px;
  background: #ffc728;
  width: 82px;
  height: 50px;
  border-style: none;
  color: #000000;
  font-size: 12px;
  font-weight: 700;
}

.newsletter a {
  color: #536d7a;
  font-size: 12px;
  text-decoration: none;
}

footer {
  background-color: #f7f9fa;
  max-height: 588px;
}

.logo-footer {
  margin-top: 60px;
  margin-bottom: 11px;
}

.social {
  max-width: 357px;
}

.social p {
  margin-top: 19px;
}

footer h3 {
  color: #333333;
  font-size: 30px;
  margin-top: 60px;
}

.latest-articles {
  max-width: 357px;
}

.cards-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 12px;
  margin-bottom: 79px;
}

.cards-footer img {
  width: 100%;
  max-width: 139px;
  max-height: 100px;
  border-radius: 7px;
}

.cards-footer a {
  margin-left: 9px;
  color: #1d2f38;
  font-size: 16px;
  text-decoration: none;
}

.card-footer {
  display: flex;
  align-items: center;
}

.browse {
  max-width: 357px;
}

.search-input {
  width: 274px;
  height: 48px;
  border-radius: 5px 0px 0px 5px;
  background: #ffffff;
  border-style: none;
  border: 1px solid #aabcc5;
  text-indent: 16px;
}

.search-btn {
  width: 81px;
  height: 48px;
  border-radius: 0px 5px 5px 0px;
  background: #768f9c;
  border-style: none;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}

.search-box {
  margin-top: 13px;
  margin-bottom: 20px;
}

.browse ul {
  list-style: none;
  margin-bottom: 27px;
}

.browse a {
  text-decoration: none;
  color: #1d2f38;
  font-size: 16px;
}

.copyright {
  border-top: 1px solid;
  padding-top: 20px;
  border-color: #536D7A;
}

.border-footer {
  border-top: 1px solid #536D7A;
}

.other {
  gap: 10px;
  margin-top: 22px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.other a {
  text-decoration: none;
}

.other p {
  font-size: 11px;
  color: #1D2F38;
}


