* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.22;
  font-weight: 700;
  color: #b3b3ba;
}

.container {
  max-width: 1600px;
  margin: auto;
  &-less {
    max-width: 1360px;
    margin: auto;
  }
}

.my-bg-gradient__main {
  background: linear-gradient(
    229deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );

  border-radius: 0px 0px 12px 12px;
  .top {
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    h1 {
      color: #fff;
      font-size: 38px;
      font-weight: 700;
      line-height: 1.21;
      text-align: center;
    }
    .btn-scroll {
      position: absolute;
      bottom: 30px;
    }

    .btn-scroll:hover svg circle,
    .btn-scroll:hover svg path {
      stroke: #f0145a;
      transition: 0.3s;
    }
  }
}

header.dark-header {
  background-color: #323264;
  .burger {
    svg rect {
      fill: transparent;
    }
    svg path {
      stroke: white;
    }
  }

  .burger.active svg rect {
    fill: rgba(230, 230, 240, 0.3);
  }

  .languages {
    label {
      color: white;
    }

    label:hover {
      border: 1px solid rgba(255, 255, 255, 0);
      border-radius: 8px;
      padding: 5px 7px;
      background-color: rgba(255, 255, 255, 0.2);
      transition: 0.1s;
    }

    .facebook path {
      fill: #fff;
    }
    .facebook:hover path {
      fill: #f0145a;
      transition: 0.3s;
    }
  }
}

header {
  padding-top: 50px;

  .logo {
    z-index: 1;
  }

  .burger-nav {
    display: none;
    position: fixed;
    inset: 0;
    color: #24a3ff;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    z-index: 2;
    background-color: rgba(50, 50, 100, 0.7);
    padding: 0 8px;

    ul {
      border-radius: 12px 12px 0px 0px;
      background-color: #fff;
      padding: 12px;
      list-style: none;
      width: 100%;
      margin-top: 60%;
      display: flex;
      flex-direction: column;

      svg {
        float: right;
        margin-bottom: 5px;
      }
    }

    .border {
      background-color: #f5f5fa;
      border-radius: 12px;
      padding: 7px 0px;
      text-align: center;
      border-style: none !important;
    }

    .border:hover {
      background-color: #e6e6f0;
    }
  }

  .burger-hidden {
    display: none;
  }

  .burger-nav.active {
    display: flex;
  }

  .burger {
    margin-right: 12px;
    display: inline-block;
    cursor: pointer;
    z-index: 5;
    position: absolute;
    right: 0;
    top: 70px;

    svg rect {
      fill: transparent;
    }
  }

  .burger.active svg rect {
    fill: #e6e6f0;
  }

  .dot {
    width: 6px;
    height: 6px;
    background-color: #e6e6f0;
    border-radius: 3px;
  }

  .facebook:hover path {
    fill: #f0145a;
    transition: 0.3s;
  }

  .grid-header {
    display: grid;
  }

  .languages {
    input[type="radio"] {
      display: none;
    }
    label {
      padding: 5px 7px;
      cursor: pointer;
    }
    input[type="radio"]:checked + label {
      border: 1px solid #f0145a;
      border-radius: 8px;
      padding: 5px 7px;
      margin-right: 6px;
      background-color: #f0145a;
      color: white;
      transition: 0.1s;
    }

    label:hover {
      border: 1px solid #f5f5fa;
      border-radius: 8px;
      padding: 5px 7px;
      background-color: #f5f5fa;
      transition: 0.1s;
    }
    z-index: 1;
  }

  .nav-list {
    list-style: none;
    gap: 15px;

    .blue-border-bottom:hover {
      border-bottom: 2px solid #24a3ff;
    }
    .white-border-bottom:hover {
      border-bottom: 2px solid #fff;
    }

    position: relative;
    z-index: 1;
  }
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.space-between {
  justify-content: space-between;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.no-decoration {
  text-decoration: none;
}

.text-gray {
  color: #b3b3ba;
}

.light-gray {
  color: #e6e6f0;
}

.items-center {
  align-items: center;
}

.gap-6 {
  gap: 6px;
}

.text-blue {
  color: #24a3ff;
}

.text-white {
  color: #fff;
}

.text-red {
  color: #f0145a;
}

.red-border-bottom {
  border-bottom: 2px solid #f0145a;
}

.flex-end {
  justify-content: flex-end;
}

.gap-16 {
  gap: 16px;
}

.title-section {
  padding-top: 60px;
  padding-bottom: 60px;
  .title {
    font-size: 38px;
    max-width: 100%;
    background: var(
      --Gradient-Red-Text,
      linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.team {
  padding-bottom: 60px;
  .cards {
    display: grid;
  }

  .card {
    max-width: 500px;

    img {
      border-radius: 12px;
      max-width: 100%;
      min-height: 462px;
      object-fit: cover;
    }

    .name {
      text-decoration: none;
      color: #323264;
    }

    .description {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.57;
    }
  }

  .card:hover .name {
    color: #f0145a;
  }

  .card:hover path {
    stroke: #f0145a;
  }
}

.mt-15 {
  margin-top: 15px;
}

footer {
  background-color: #f5f5fa;
  padding-top: 30px;
  padding-bottom: 30px;

  .facebook:hover path {
    fill: #f0145a;
    transition: 0.3s;
  }

  .email:hover {
    color: #f0145a;
    transition: 0.3s;
  }

  .dot {
    width: 6px;
    height: 6px;
    background-color: #b3b3ba;
    border-radius: 3px;
  }

  .grid-footer {
    display: grid;
  }

  .text {
    color: #323264;
    font-weight: 400;
  }

  .tel {
    color: #46466e;
  }
}

.gap-10 {
  gap: 10px;
}

.fz-12 {
  font-size: 12px;
  line-height: 1.22;
}

.mt-20 {
  margin-top: 20px;
}

.contact-section {
  padding-bottom: 60px;
  padding-top: 60px;

  display: grid;

  .form {
    background-color: #f5f5fa;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 12px;

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .btn {
        padding: 18px 30px;
        border-radius: 12px;
        background: var(--Active-Regular, #24a3ff);
        box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
        border-style: none;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.22;
        margin-top: 15px;
      }

      .btn[data-status="progress"]::after {
        animation: spin 1s linear infinite;
      }

      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }

      .btn:hover {
        background-color: #0085ff;
        transition: background-color 0.3s ease;
      }

      .btn:active {
        background-color: #006ccf;
        transition: background-color 0.3s ease;
      }

      input {
        padding: 15px;
        width: 100%;
        border-radius: 8px;
        border: 1px solid var(--Basic-White, #fff);
        background: var(--Basic-White, #fff);
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.62;
      }

      input:invalid:not(:placeholder-shown) {
        border: 2px solid red; /* Установка красной рамки при неверных данных */
      }

      textarea {
        resize: none;
        width: 100%;
        padding: 15px;
        width: 100%;
        border-radius: 8px;
        border: 1px solid var(--Basic-White, #fff);
        background: var(--Basic-White, #fff);
        height: 130px;
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.62;
      }

      input::placeholder,
      textarea::placeholder {
        color: #b3b3ba;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.62;
        font-family: "Montserrat", sans-serif;
      }

      input:focus,
      textarea:focus {
        border-color: #24a3ff;
        outline: none;
      }

      p {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 15px;
      }
    }

    h1 {
      font-size: 30px;
      font-weight: 700;
      line-height: 1.2;
      background: var(
        --Gradient-Red-Text,
        linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .contact-info {
    color: #323264;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.42;

    .border {
      border-bottom: 4px solid #e6e6f0;
      margin: 30px 0;
      max-width: 100%;
    }

    .tel {
      color: #46466e;
      font-size: 21px;
      font-weight: 400;
      line-height: 1.42;
      text-decoration: none;
      margin-bottom: 15px;
    }

    .mail {
      color: #24a3fe;
      font-size: 21px;
      font-weight: 400;
      line-height: 1.42;
      text-decoration: none;
    }

    .facebook:hover path {
      fill: #f0145a;
      transition: 0.3s;
    }

    .facebook:hover {
      .title {
        color: #f0145a;
      }
    }

    .facebook {
      text-decoration: none;
      max-width: 155px;
      .title {
        color: #24a3ff;
        font-size: 12px;
        line-height: 1.33;
        font-weight: 700;
        max-width: 105px;
        letter-spacing: 1px;
      }
    }
  }
}

img,
svg {
  vertical-align: baseline;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: initial;
  margin-bottom: initial;
}

p {
  margin-bottom: initial;
  margin-top: initial;
}

dl,
ol,
ul {
  margin: initial;
  padding: initial;
}

label {
  display: inline;
}

.stretch {
  align-self: stretch;
}

.tab-menu {
  .border-line {
    width: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    align-self: stretch;
    margin: 0 60px;
    height: 303px;
  }

  .d-flex {
    align-items: center;
  }
  .nav-link {
    display: block;
    font-size: 38px;
    font-weight: 700;
    padding: 0;
    text-decoration: none;
    color: #b3b3ba;
    text-align: right;
  }

  .nav-link:hover {
    color: #f0145a;
  }

  .nav-link.active {
    color: inherit;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background: var(
      --Gradient-Text-Red-Reversed,
      linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .tab-content {
    .tab-description {
      color: #fff;
      font-size: 19px;
      font-weight: 400;
      line-height: 1.58;
      margin-top: 30px;
    }

    .tab-title {
      color: #fff;
      font-size: 30px;
      font-weight: 700;
      line-height: 1.2;
    }
  }

  .nav-pills {
    width: 100%;
    gap: 30px;
    max-width: 375px;
    justify-content: flex-end;
  }
}

.w-375 {
  width: 375px;
}

.services::before {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 10px;
  border-radius: 0 0 12px 12px;
  background-color: #cacadb;
  width: 100%;
  max-width: 98%;
  left: 50%;
  transform: translate(-50%);
}

.services::after {
  content: "";
  position: absolute;
  bottom: -20px;
  height: 10px;
  border-radius: 0 0 12px 12px;
  background-color: #e7e7f2;
  width: 100%;
  max-width: 96%;
  left: 50%;
  transform: translate(-50%);
}

.services {
  padding-bottom: 60px;
  position: relative;
  &-link {
    color: #24a3ff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.22;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 2px;
    max-width: 90px;
  }

  &-link:hover {
    color: #f0145a;
  }

  &-link:hover path {
    stroke: #f0145a;
  }

  &-title {
    background: var(
      --Gradient-Red-Text,
      linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.22;
    margin-top: 10px;
    display: inline-block;
  }

  &-item__list {
    margin-top: 60px;
    display: grid;
    .services-item__card {
      width: 100%;
      .services-icon {
        padding: 14px;
        border-radius: 24px;
        background: #fff;
        display: block;
      }

      .services-item__title {
        color: #24a3ff;
        font-size: 22px;
        font-weight: 700;
        line-height: 1.22;
        margin-top: 30px;
        margin-bottom: 15px;
      }

      .services-item__title:hover {
        color: #F0145A;
      }

      .no-decoration {
        display: inline-block;
      }

      .services-item__description {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.62;
      }
    }
  }
}

.team-slider {
  padding: 80px 0 60px;
  max-width: 1600px;
  margin: auto;
  .owl-carousel {
    width: 100%;
    margin: auto;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 30px;
  }

  .owl-theme .owl-dots .owl-dot.active span {
    background-color: #24a3ff;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 16px;
    height: 16px;
    margin: 5px 7px;
    background: #24a3ff20;
    transition: opacity 0.2s ease;
    border-radius: 30px;
  }

  .owl-item {
    display: flex;
    background-color: #f5f5fa;
    border-radius: 12px;
    align-items: center;
    width: 100%;

    .team-img {
      width: 100%;
      object-fit: cover;
      align-self: stretch;
      height: auto;
    }

    .team-info {
      padding: 30px;
      margin: auto;
      .team-link {
        color: #24a3ff;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.22;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 2px;
        max-width: 96px;
      }

      .team-link:hover {
        color: #f0145a;
      }

      .team-link:hover path {
        stroke: #f0145a;
      }

      .team-title {
        background: var(
          --Gradient-Red-Text,
          linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 38px;
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 30px;
      }

      .team-job-title {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.57;
        margin-top: 6px;
      }
    }
  }
}

.partners {
  .title {
    text-align: center;
    color: #323264;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &-item__list {
    display: grid;
    width: 100%;
  }

  &-item {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bg-blue {
  background-color: #1c4280;
}

.bg-dark-green {
  background-color: #143646;
}

.bg-orange-gradient {
  background: linear-gradient(0deg, #f48b30 0%, #f48b30 100%), #f48b30;
}

.bg-violet {
  background-color: #9e4dc3;
}

.bg-orange {
  background-color: #fd9339;
}

.bg-lightgray {
  background-color: #e2e2e4;
}

.bg-red {
  background-color: #c71c36;
}

.bg-lightblue {
  background-color: #dcf3f9;
}

.bg-gray {
  background-color: #eaeaea;
}

.bg-dark-violet {
  background-color: #282240;
}

.bg-dark-blue {
  background-color: #1d4568;
}

.bg-black {
  background-color: #000;
}

.publications {
  background-color: #f5f5fa;
  padding-top: 30px;

  &-list {
    padding-bottom: 30px;
    border-bottom: 2px solid #e6e6f0;
    display: grid;
    gap: 30px;
  }

  &-link {
    color: #24a3ff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.22;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 2px;
    max-width: 130px;
  }

  &-link:hover {
    color: #f0145a;
  }

  &-link:hover path {
    stroke: #f0145a;
  }

  .title {
    background: var(
      --Gradient-Red-Text,
      linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 30px;
    display: inline-block;
  }

  .card {
    width: 100%;
    max-width: 514px;
    border-radius: 8px;
    border-style: none;
    img {
      align-self: stretch;
      height: 200px;
      border-radius: 8px 8px 0px 0px;
      object-fit: cover;
      width: 100%;
      max-width: 514px;
    }

    &-info {
      padding: 30px;
      display: grid;
      gap: 15px;
    }

    &-title {
      color: #24a3ff;
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
      margin: 0;
    }

    &-date {
      color: #b3b3ba;
      font-size: 12px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    &-border {
      background-color: #e6e6f0;
      height: 4px;
    }

    &-description {
      color: #000;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.57;
    }
  }
}

.my-bg-gradient {
  background: var(
    --Gradient-Supersoft,
    linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%)
  );

  .services {
    padding-top: 60px;
  }
}



.pt-60 {
  padding-top: 60px;
}










@media screen and (min-width: 0px) and (max-width: 551px) {
  .container {
    padding: 0 30px;

    &-less {
      padding: 0 30px;
    }
  }

  .cards {
    gap: 30px;
  }

  .dot {
    display: none;
  }

  .none {
    display: none;
  }

  .title-section {
    padding-top: 30px;
    padding-bottom: 30px;
    .title {
      font-size: 30px;
    }
  }

  .dark-header {
    .languages.dark {
      background-color: rgba(245, 245, 250, 0.2);
    }
  }

  header {
    .nav-list {
      display: none;
    }

    padding: 0;

    .container {
      padding: 0;
    }

    .grid-header {
      grid-template-areas:
        "a"
        "b";

      .logo {
        grid-area: b;
        align-items: center;
      }

      .languages {
        grid-area: a;
        justify-content: space-between;
        background-color: #f5f5fa;
        padding: 15px;
      }
    }

    .logo svg {
      width: 100%;
      max-width: 177px;
      min-height: 52px;
      margin: 15px;
    }

    .desktop {
      display: none;
    }
  }
  .grid-footer {
    justify-content: center;
    text-align: center;
    gap: 30px;

    .contact-info {
      .column {
        flex-direction: column;
      }
    }
  }

  .contact-section {
    gap: 30px;

    padding: 30px;
  }

  .my-bg-gradient__main {
    padding-top: 460px;
    .top {
      background: url(../img/symbol.png) no-repeat top/cover;
      min-height: 600px;

      h1 {
        max-width: 315px;
      }
    }

    .tab-menu {
      padding: 30px 0;

      .border-line {
        margin: 30px 0;
      }

      .tab-title {
        font-size: 20px;
      }
    }
  }

  .services-item__list {
    gap: 30px;
    margin-top: 30px;
  }

  .services-title {
    font-size: 30px;
  }

  .my-bg-gradient .services {
    padding-top: 0;
}

  .services::before {
    content: "";
    position: absolute;
    bottom: -10px;
    height: 10px;
    border-radius: 0 0 12px 12px;
    background-color: #cacadb;
    width: 100%;
    max-width: 90%;
    left: 50%;
    transform: translate(-50%);
  }

  .services::after {
    content: "";
    position: absolute;
    bottom: -20px;
    height: 10px;
    border-radius: 0 0 12px 12px;
    background-color: #e7e7f2;
    width: 100%;
    max-width: 84%;
    left: 50%;
    transform: translate(-50%);
  }
  .team-slider {
    .owl-carousel {
      max-width: 315px;

      .owl-item {
        max-width: 315px;
      }
    }

    .team-img {
      min-width: 315px;
      min-height: 500px;
      border-radius: 12px 12px 0px 0px;
      align-self: stretch;
    }

    .team-name {
      max-width: 255px;
    }
  }

  .team-slider .owl-item .team-info .team-title {
    font-size: 30px;
  }

  .partners {
    &-item__list {
      max-height: calc(120px * 6);
      overflow-y: auto;
    }
  }

  .publications {
    .title {
      font-size: 30px;
      max-width: 310px;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  .tab-menu {
    .d-flex {
      flex-direction: column;
      align-items: baseline;
    }
    .border-line {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.3);
      align-self: stretch;
      margin: 60px 0;
      height: 4px;
    }

    .nav-link {
      text-align: start;
    }

    .nav-pills {
      justify-content: flex-start;
      white-space: nowrap;
      flex-wrap: nowrap;
      max-width: calc(100vw - 3rem);
      overflow-x: auto;
    }
  }

  .owl-item {
    flex-direction: column;
  }
}

@media screen and (min-width: 550px) and (max-width: 1700px) {
  .container {
    padding: 0 60px;

    &-less {
      padding: 0 60px;
    }
  }

  .contact-section {
    padding: 60px;
  }
}

@media (min-width: 551px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  .grid-footer {
    justify-content: center;
    text-align: center;
    gap: 30px;
  }

  .grid-header {
    gap: 30px;

    grid-template-areas:
      "a"
      "b"
      "c";

    .burger {
      display: none;
    }

    .logo {
      grid-area: b;
      align-items: center;
    }

    .mobile {
      display: none;
    }

    .languages {
      grid-area: a;
    }

    nav,
    ul {
      grid-area: c;
    }
  }

  .contact-section {
    gap: 60px;
  }

  .my-bg-gradient__main {
    padding-top: 804px;
    .top {
      background: url(../img/symbol.png) no-repeat top/cover;
      min-height: 1024px;
    }
    .tab-menu {
      padding: 60px 0;
    }
  }

  .services-item__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    .services-item__card {
      max-width: 293px;
    }
  }

  .owl-carousel {
    max-width: 650px;
  }

  .team-img {
    max-width: 650px;
    max-height: 500px;
    border-radius: 12px 12px 0px 0px;
  }

  .partners {
    &-item__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .publications {
    &-list {
      grid-template-columns: repeat(2, 1fr);

      .card-3 {
        width: 100%;
        max-width: 1600px;
        grid-column: span 2;

        img {
          max-width: 1600px;
        }
      }
    }
  }
}

.gap-15 {
  gap: 15px;
}

@media (min-width: 901px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }

  .grid-footer {
    grid-template-columns: 1fr auto;
  }
  .grid-header {
    gap: 16px;

    grid-template-areas:
      "a b"
      "a c";
    .logo {
      grid-area: a;
      align-items: center;
    }

    .languages {
      grid-area: b;
      justify-content: flex-end;
    }

    nav,
    ul {
      grid-area: c;
      justify-content: flex-end;
    }
  }

  .contact-section {
    grid-template-columns: 1fr 1fr;
  }

  .my-bg-gradient__main {
    padding-top: 652px;
    .top {
      min-height: 768px;
      background: url(../img/symbol.png) no-repeat top/contain;
    }
  }

  .services-item__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;

    .services-item__card {
      max-width: 493px;
    }
  }

  .owl-carousel {
    max-width: 904px;

    .team-img {
      max-width: 400px;
      max-height: 528px;
      border-radius: 12px 0 0 12px;
    }
  }

  .partners {
    &-item__list {
      grid-template-columns: repeat(4, 1fr);
    }

    &-item {
      max-width: 256px;
    }
  }

  .publications {
    &-list {
      grid-template-columns: repeat(3, 1fr);

      .card-3 {
        grid-column: span 1;
      }
    }
  }
}

@media (min-width: 1025px) {
  .owl-carousel {
    max-width: 1320px;
    .team-img {
      max-height: 344px;
      max-width: 400px;
    }
  }

  .partners {
    &-item {
      max-width: 360px;
    }
  }
}

@media (min-width: 1441px) {
  .my-bg-gradient__main {
    padding-top: 884px;
    .top {
      min-height: 1000px;
      background: url(../img/symbol.png) no-repeat top/contain;
    }
  }

  .team-slider {
    .owl-carousel {
      max-width: 1600px;

      .team-img {
        max-height: 298px;
        max-width: 400px;
      }
    }
  }

  .partners {
    padding-bottom: 60px;
    max-width: 1600px;
    margin: auto;
    border-radius: 12px;

    .br-top-left {
      border-radius: 12px 0 0 0;
    }

    .br-top-right {
      border-radius: 0 12px 0 0;
    }

    .br-bot-right {
      border-radius: 0 0 12px 0;
    }

    .br-bot-left {
      border-radius: 0 0 0 12px;
    }

    &-item {
      max-width: 430px;
    }
  }

  .my-bg-gradient {
    background: var(--Gradient-Supersoft, linear-gradient(207deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%));
}
}
