* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  color: #000;
}

body {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1340px;
  height: 100%;
  margin: auto;
}

header {
  padding: 17px 0;
  .cart {
    gap: 8px;

    a {
      font-size: 17px;
      color: #000;
      line-height: 1.15;
      text-decoration: none;
    }

    &-square {
      width: 24px;
      height: 24px;
      background-color: #e7ded8;
      justify-content: center;
      align-items: center;
      font-size: 11px;
      line-height: 2.18;
      color: #68513f;
    }
  }

  ul {
    list-style: none;
    gap: 40px;

    .nav-item {
      text-decoration: none;
      color: #222;
      font-size: 17px;
      line-height: 1.15;
    }
  }
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.hero {
  margin-top: 20px;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: right;
  height: 750px;
  padding: 150px 50px;

  h1 {
    font-family: "STSong", sans-serif;
    font-size: 88px;
    line-height: 1.43;
    font-weight: 300;
  }

  p {
    font-family: "STSong", sans-serif;
    font-size: 81px;
    line-height: 1.55;
    font-weight: 300;
  }

  span {
    display: inline-block;
    transform: rotate(5.539deg);
    color: #68513f;
    font-family: "Style Script", sans-serif;
    font-size: 175px;
    font-weight: 400;
    line-height: 1.04;
    margin-left: 230px;
  }

  .btn {
    width: 143px;
    height: 45px;
    margin-top: 45px;
    color: #68513f;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    border: 1px solid #dacec6;
    background-color: #f1ebe7;
  }
}

.relative {
  position: relative;
}

.offer {
  text-align: center;

  padding-bottom: 950px;

  img {
    position: absolute;
  }

  .offer1 {
    right: 210px;
    top: 10px;
  }

  .offer2 {
    left: 36px;
    top: 120px;
  }

  .offer3 {
    right: 65px;
    top: 266px;
  }

  .offer4 {
    left: 94px;
    top: 490px;
  }

  .offer5 {
    right: 150px;
    top: 569px;
  }

  span {
    font-family: "STSong";
    font-size: 65px;
    font-weight: 300;
    line-height: 1.5;
  }

  .title {
    font-family: "STSong";
    font-size: 70px;
    font-weight: 300;
    line-height: 1.4;
  }

  h2 {
    color: #68513f;
    font-family: "Style Script";
    font-size: 137px;
    font-weight: 400;
    line-height: 0.8;
    transform: rotate(-5.079deg);
  }

  .description {
    max-width: 650px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
  }

  .btn {
    color: #68513f;
    background-color: #f1ebe7;
    border: 1px solid #dacec6;
    border-radius: 73px;
    width: 95px;
    height: 45px;
    margin-top: 60px;
  }
}

.products {
  h2 {
    color: #68513f;
    text-align: center;
    font-family: "Style Script";
    font-size: 137px;
    font-weight: 400;
    line-height: 0.81;
    margin-top: 90px;
  }

  .text {
    text-align: center;
    font-family: "STSong";
    font-size: 65px;
    font-weight: 300;
    line-height: 1.5;
  }

  .cards {
    margin-top: 50px;
    margin-bottom: 90px;

    .card {
      max-width: 325px;
      min-height: 482px;
      border-radius: 10px;
      background-color: #e7ded8;
      padding: 10px;

      .name {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        text-transform: uppercase;
      }

      span {
        float: right;
        font-size: 14px;
        line-height: 1.4;
      }

      &-description {
        padding: 20px 15px;
      }

      .description {
        font-size: 19px;
        line-height: 1.37;
        margin-top: 6px;
      }

      .btn {
        color: #68513f;
        font-size: 14px;
        line-height: 1.4;
        width: 305px;
        height: 45px;
        border-radius: 5px;
        border: 1px solid #dacec6;
        background: #f1ebe7;
        margin-top: 20px;
      }
    }
  }
}

.feature {
  h2 {
    color: #68513f;
    font-family: "Style Script";
    font-size: 137px;
    font-weight: 400;
    line-height: 0.81;
  }

  .text {
    font-family: "STSong";
    font-size: 70px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 9px;
    margin-bottom: 25px;
    width: 439px;
    margin: auto;
  }

  .description {
    font-size: 17px;
    line-height: 1.8;
    width: 460px;
  }

  .btn {
    width: 115px;
    height: 45px;
    border: 1px solid #dacec6;
    background: #f1ebe7;
    color: #68513f;
    margin-top: 40px;
  }

  .quote {
    color: #000;
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    width: 832px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;

    .sponsors {
      margin-top: 57px;
      display: flex;
      justify-content: center;
      gap: 70px;
      margin-bottom: 200px;
    }
  }
}

.text-center {
  text-align: center;
}

.space-around {
  justify-content: space-around;
}

.review {
  margin-bottom: 92px;
  justify-content: center;
  &-item {
    position: relative;
    display: inline-block;
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 13px;
      text-transform: uppercase;
      line-height: 1.5;
      border: 1px solid #fff;
      width: 150px;
      height: 150px;
      text-align: center;
      line-height: 150px;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
}

.blog {
  padding-bottom: 128px;

  h2 {
    font-family: "STSong";
    font-size: 66px;
    font-weight: 300;
    line-height: 1.48;
    margin-bottom: 50px;
  }

  .card {
    gap: 30px;
    img {
      width: 100%;
      max-width: 308px;
      min-height: 213px;
      border-radius: 10px;
    }

    p {
      font-family: "STSong";
      font-size: 28px;
      font-weight: 300;
      line-height: 1.3;
      width: 269px;
    }

    .btn {
      width: 115px;
      height: 45px;
      border-radius: 166px;
      border: 1px solid #dacec6;
      background: #f1ebe7;
      color: #68513f;
      margin-top: 58px;
    }
  }
}

footer {
  border-radius: 10px;
  background: #e7ded8;
  min-height: 353px;

  .container {
    padding: 50px;
  }

  .text-grey {
    color: #68513f;
  }

  .mt-58 {
    margin-top: 58px;
  }

  .text {
    width: 160px;
    margin-top: 20px;
  }

  .title {
    font-family: "STSong";
    font-size: 24px;
    font-weight: 300;
    line-height: 1.63;
    margin-bottom: 30px;

    &-fz-28 {
      font-size: 28px;
      font-family: "STSong";
      font-weight: 300;
      line-height: 1.4;
      margin-bottom: 30px;
    }
    &-fz-27 {
      font-size: 27px;
      font-family: "STSong";
      font-weight: 300;
      line-height: 1.45;
      margin-bottom: 30px;
    }
  }

  ul {
    list-style: none;
    padding-right: 50px;
    li {
      margin-bottom: 9px;
    }
    a {
      text-decoration: none;
      color: #000;
      font-family: "Inter";
      font-size: 14px;
      font-weight: 400;
      line-height: 1.4;
    }
  }

  .contact {
    margin-top: 30px;

    a {
      color: #68513f;
      font-family: "Inter";
      font-size: 14px;
      font-weight: 400;
      line-height: 1.4;
      text-decoration: none;
    }
  }

  .socials {
     gap: 40px;
     margin-top: 70px;
  }
}

.mt-9 {
  margin-top: 9px;
}

.mt-40 {
  margin-top: 40px;
}
