* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Graphik LCG", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  color: #000;
}

body {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1290px;
  margin: auto;
}

header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: solid 1px #cccccc;
  nav a {
    color: #000;
    text-decoration: none;
  }
  .btn {
    .primary {
      width: 120px;
      height: 45px;
      background-color: #ffffff;
      border: 1px solid #00000080;
      font-size: 16px;
      line-height: 2.8;
      font-weight: 600;
    }

    .secondary {
      width: 120px;
      height: 45px;
      background-color: #ff6336;
      border: 1px solid #ff6336;
      color: #ffffff;
      font-size: 16px;
      line-height: 2.8;
      font-weight: 600;
    }
  }

  img {
    vertical-align: middle;
  }
}

.flex {
  display: flex;
}

.gap-50 {
  gap: 50px;
}

.gap-57 {
  gap: 57px;
}

.gap-85 {
  gap: 85px;
}

.gap-45 {
  gap: 45px;
}

.gap-10 {
  gap: 10px;
}

.gap-30 {
  gap: 30px;
}

.column {
  flex-direction: column;
}

.no-decoration {
  text-decoration: none;
}

.items-center {
  align-items: center;
}

.fz-15 {
  font-size: 15px;
  line-height: 1.66;
}

.fz-18 {
  font-size: 18px;
  line-height: 1.4;
}

.fz-50 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
}

.fw-600 {
  font-weight: 600;
}

.space-between {
  justify-content: space-between;
}

.mt-50 {
  margin-top: 50px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-7 {
  margin-top: 7px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-80 {
  margin-top: 80px;
}

.fz-65 {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.07;
}

.fz-25 {
  font-size: 25px;
  line-height: 1.4;
}

.text-center {
  text-align: center;
}

.offer {
  padding-top: 130px;
  padding-bottom: 170px;

  p {
    max-width: 471px;
  }

  .btn {
    .primary {
      width: 160px;
      height: 60px;
      background-color: #ff6336;
      border: 1px solid #ff6336;
      color: #ffffff;
      font-size: 16px;
      line-height: 3.75;
      font-weight: 600;
    }

    .secondary {
      width: 160px;
      height: 60px;
      background-color: #ffffff;
      border: 1px solid #00000080;
      font-size: 16px;
      line-height: 3.75;
      font-weight: 600;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.partners {
  background-color: #ff9c7d;
  padding-top: 108px;
  padding-bottom: 104px;

  h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    max-width: 720px;
    text-align: center;
    margin: auto;
  }

  &__icons {
    display: flex;
    gap: 103px;
    margin-top: 70px;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.description {
  padding-top: 90px;
  padding-bottom: 150px;

  .card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .square {
    width: 632px;
    height: 577px;
    background-color: #fff8e4;
    font-family: "Roboto", sans-serif;
    font-size: 14px;

    p {
      margin-left: 133px;
      margin-top: 10px;
    }

    .white-bg {
      width: 500px;
      height: 300px;
      background-color: #ffffff;
      border-radius: 4px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      margin-top: 119px;
      margin-left: 66px;
      padding: 36px 63px 37px 37px;
    }
  }

  h2 {
    max-width: 493px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.text-black {
  color: #000;
}

.gap-165 {
  gap: 165px;
}

.gap-250 {
  gap: 250px;
}

.mr-138 {
  margin-right: 138px;
}

.mw-490 {
  max-width: 490px;
}

.mw-450 {
  max-width: 450px;
}

.mw-520 {
  max-width: 520px;
}

.mw-330 {
  max-width: 330px;
}

.row-reverse {
  flex-direction: row-reverse;
}

.services {
  background-color: #fff8e4;
  padding-top: 120px;
  padding-bottom: 150px;

  .cards {
    gap: 130px;

    img {
      max-width: 100%;
      height: auto;
    }

    .card {
      max-width: 330px;
    }
  }
}

.about {
  padding-top: 150px;
  padding-bottom: 190px;

  .cards {
    .card {
      max-width: 410px;
      max-height: auto;
    }

    img {
      max-width: 179px;
      height: 201px;
    }
  }
}

.fz-30 {
  font-size: 30px;
}

.fz-35 {
  font-size: 35px;
}

.reviews {
  background-color: #c9e8f2;
  padding-top: 50px;
  padding-bottom: 100px;
}

.rating {
  background-color: #dabc98;
  padding-top: 90px;
  padding-bottom: 90px;
  .border {
    max-width: 810px;
    border-right: 1px solid #000;

    .text {
      margin-left: 67px;
    }
  }
  .cards {
    padding: 30px 60px 20px 70px;
    gap: 70px;
  }
}

.mt-15 {
  margin-top: 15px;
}

.integrations {
  padding-top: 170px;
  padding-bottom: 160px;

  .title {
    max-width: 790px;
    text-align: center;
    margin: auto;
  }

  .text {
    max-width: 540px;
    text-align: center;
    margin: auto;
  }

  .btn {
    width: 193px;
    height: 60px;
    background-color: #ff6336;
    border: 1px solid #ff6336;
    color: #ffffff;
    font-size: 16px;
    line-height: 3.75;
    font-weight: 600;
  }
}

.try-it-free {
  padding-top: 120px;
  padding-bottom: 160px;
  background-color: #ff9c7d;
  text-align: center;

  .title {
    max-width: 784px;
    margin: auto;
  }

  .btn {
    width: 160px;
    height: 60px;
    background-color: #000;
    border: 1px solid #000;
    color: #ffffff;
    font-size: 17px;
    line-height: 3.52;
    font-weight: 600;
    margin-top: 55px;
  }
}

.mt-30 {
  margin-top: 30px;
}

footer {
  background-color: #EEEEEE;
  padding-top: 92px;
  padding-bottom: 50px;

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .text {
    max-width: 290px;
    margin-top: 11px;
  }

  .list {
    width: 187px;
    height: auto;
  }

  .border {
    height: 682px;
    border-bottom: 1px solid #000;
  }

  .copyright {
    padding-top: 50px;
    font-size: 15px;
    line-height: 1.25;
    
    .text {
      max-width: 350px;
    }
  }

}

.fz-40 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.25;
}

.list-none {
  list-style: none;
}

.ml-140 {
  margin-left: 140px;
}

.gap-35 {
  gap: 35px;
}

.gap-15 {
  gap: 15px;
}